body{
    color: rgb(35, 11, 58);
    background: black(204, 187, 187)
    margin: 0px;
}

header{
    border-bottom: solid 2px white;

    padding: 20px;
    font-size: 32px;

    color: rgb(68, 30, 104);
}

section{
    background: rgb(182, 90, 182);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
